@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

$media-small: 767px;

$anaranjado-claro: #fde3a7;
$anaranjado-oscuro: #e67e22;
$azul: #0067b0;
$azul-oscuro: #34495e;
$azul-claro: #1297e0;
$blanco: #ffffff;
$rojo-oscuro: #c0392b;
$verde-claro: #27ae60;
$gris: #bdc3c7;
$gris-claro: #ecf0f1;

//$font-spectral: 'Spectral', serif;
$font-roboto: "Roboto", sans-serif;
